.heading {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.credits {
  font-size: 0.9rem;
  margin-left: auto;
}

.contents-chapter {
  margin: 8px;
}

.contents-head {
  font-size: 1.3rem;
  font-weight: bold;
}

.contents-subsection {
  font-size: 1.2rem;
  margin-left: 8px;
}

.underline {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.flowchart1 {
  display: flex;
}

.block {
  border: 2px black solid;
  width: 100px;
  text-align: center;
  margin: 24px 32px 24px 16px;
  padding: 8px;
  position: relative;
}

.wrapper .block {
  margin-top: 0px;
  margin-left: 0px;
}

.flowchart1-left .block::before {
  content: '';
  height: 24px;
  width: 0px;
  border-right: 3px black solid;
  position: absolute;
  left: 56px;
  top: -26px;
}

#block11::before {
  border-right: none;
}

.wrapper {
  display: flex;
  margin-left: 16px;
}

#block11::after {
  content: '';
  width: 0px;
  height: 496px;
  border-right: 3px black solid;
  position: absolute;
  top: 43.5px;
  right: -20px;
}

#block14::after {
  content: '';
  width: 16px;
  height: 0px;
  border-top: 3px black solid;
  position: absolute;
  right: -18px;
}

.flowchart1-right .block::before {
  content: '';
  width: 30px;
  height: 0px;
  border-top: 3px black solid;
  position: absolute;
  left: -32px;
  top: calc(50% - 1.5px);
}