.flowchart1,
.flowchart2,
.flowchart3 {
  display: flex;
}

.flowchart-arrow {
  position: absolute;
  bottom: -32px;
  left: calc(50% - 5px);
}

#block23 .flowchart-arrow {
  bottom: -128px;
}

.flowchart-arrow-right {
  position: absolute;
  top: calc(50% - 5px);
  left: -7px;
}

.block {
  border: 2px black solid;
  width: 100px;
  text-align: center;
  margin: 24px 32px 24px 16px;
  padding: 8px;
  position: relative;
}

.flowchart1-left .block::before,
.flowchart2-left .block::before,
.flowchart3-left .block::before {
  content: '';
  height: 24px;
  width: 0px;
  border-right: 3px black solid;
  position: absolute;
  left: 56px;
  top: -26px;
}

.flowchart1-right .block::before,
.flowchart2-right .block::before,
.flowchart3-right .block::before {
  content: '';
  width: 30px;
  height: 0px;
  border-top: 3px black solid;
  position: absolute;
  left: -32px;
  top: calc(50% - 1.5px);
}

.wrapper {
  display: flex;
  margin-left: 16px;
}

.wrapper .block {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 8px;
}

#block11::after,
#block21::after,
#block31::after {
  content: '';
  width: 0px;
  border-right: 3px black solid;
  position: absolute;
  right: -20px;
}

#block11::after {
  height: 496px;
  top: 43.5px;
}

#block21::after {
  height: 362px;
  top: 229.5px;
}

#block31::after {
  height: 362.5px;
  top: 169px;
}

#block14::after,
#block24::after,
#block34::after {
  content: '';
  width: 16px;
  height: 0px;
  border-top: 3px black solid;
  position: absolute;
  right: -18px;
}

#block11::before,
#block21::before,
#block31::before {
  border-right: none;
}

#block21 {
  margin-top: 123px;
}

#block23 {
  margin-bottom: 120px;
}

#block24::before {
  height: 120px;
  top: -122px;
}

#block27::before,
#block29::before {
  border: none;
}

#block28::before,
#block28::after {
  content: '';
  height: 24px;
  width: 0px;
  border-right: 3px black solid;
  position: absolute;
  left: 56px;
}

#block28::before {
  top: -27px;
}

#block28::after {
  top: calc(100% + 2px);
}

#block29 {
  margin-bottom: 48px;
}

#block34a {
  margin-top: 150px;
}

#dogabox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px black solid;
  position: relative;
  padding: 8px;
  gap: 8px;
  width: 350px;
}

.dogabox-subbox1,
.dogabox-subbox2 {
  border: 3px black solid;
  padding: 4px 8px;
}

.dogabox-subbox1 {
  margin-bottom: 24px;
}

#dogabox::before,
#modelchart2::before,
#modelchart3::before {
  content: '';
  height: 18px;
  width: 0;
  border-right: 3px black solid;
  position: absolute;
}

#dogabox::before {
  top: 72px;
}

#dogabox .arrow-down {
  position: absolute;
  top: 90px;
}

#modelchart2,
#modelchart3 {
  width: 372px;
  position: relative;
}

#modelchart2::before,
#modelchart3::before {
  top: -25px;
  left: calc(50% - 1.5px);
}

#modelchart2 .arrow-down,
#modelchart3 .arrow-down {
  position: absolute;
  top: -8px;
  left: calc(50% - 5px);
}

.dogabox-subbox3,
.dogabox-subbox4 {
  border: 3px black solid;
  text-align: center;
  margin: 28px auto;
  padding: 4px 8px;
}

.dogabox-subbox3 {
  width: 320px;
}

.dogabox-subbox4 {
  width: 280px;
}

.dogabox-subbox3::after {
  content: ' (As Needed)';
}

