.heading {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.credits {
  font-size: 0.9rem;
  margin-left: auto;
}

.contents-chapter {
  margin: 8px;
}

.contents-head {
  font-size: 1.3rem;
  font-weight: bold;
}

.contents-subsection {
  font-size: 1.2rem;
  margin-left: 8px;
}

.contents-subsubsection {
  font-size: 1.1rem;
  margin-left: 24px;
}

.contents-table,
.contents-table * {
  width: 60%;
  font-size: 1.2rem;
  border: none;
  padding: 0;
}

.contents-table div {
  width: 100%;
}

.underline {
  text-decoration: underline;
  text-decoration-style: dotted;
}

h3::before {
  content: "■ ";
}

.codeblock {
  white-space: pre;
  background-color: #686868;
  border-radius: 4px;
  color: #efefef;
  padding: 8px 12px;
  font-family: monospace;
}

.footer {
  width: fit-content;
  margin-left: auto;
}

.summary-contents {
  padding: 16px;
  padding-top: 8px;
  background-color: #3b3b3b;
  color: #eeeeee;
  border-radius: 8px;
}

details summary {
  cursor: pointer;
  background-color: #3b3b3b;
  padding: 8px;
  border-radius: 8px;
  color: #eeeeee;
}

/* Arrow CSS from CSS-Tricks*/
.arrow-up,
.arrow-right,
.arrow-left,
.arrow-down {
  width: 0;
  height: 0;
  border: 5px solid transparent;
}

.arrow-up {
  border-bottom: 5px solid black;
}

.arrow-right {
  border-left: 5px solid black;
}

.arrow-left {
  border-right: 5px solid black;
}

.arrow-down {
  border-top: 5px solid black;
}

.gray-bg {
  background-color: #cccccc;
}

table,
table * {
  border: 3px solid black;
  border-collapse: collapse;
}

table th {
  padding: 4px;
  text-align: center;
}

table td {
  padding: 8px;
}
